DJANGO_SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://postgres:PASSWORD@db.PROJECTID.supabase.co:5432/postgres
SUPABASE_URL=https://PROJECTID.supabase.co
SUPABASE_JWT_SECRET=your-jwt-secret-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
SENTRY_DSN=
